#spinner-container
  %div{"data-bind" => "visible: showSpinner"}
    %h4 Chargement de vos creations...
    .spinner


%div{"data-bind" => "visible: showTable"}
  %table.table.table-hover
    %thead
      %tr
        %th
          %input{:type => 'checkbox', 'data-bind' => 'checked: checkAll, click: toogleCreations'}
            Tous
        %th
          Id
        %th
          Titre
        %th
          Actions
    %tbody{"data-bind"=>'foreach: items'}
      %tr
        %td
          %input{:type => 'checkbox', 'data-bind' => 'checked: $data.checked'}
        %td{"data-bind"=>'text: $data.id'}
        %td{"data-bind"=>'text: $data.title'}
        %td
          %button.btn.btn-success.btn-xs{:type => "button", 'data-toogle' => 'tooltip',
                                         'data-placement' => 'top',
                                         :title => 'Créer sur Little Market',
                                         'data-bind' => 'click: $data.publish'}
            Publier
          %button.btn.btn-danger.btn-xs{:type => "button", 'data-toogle' => 'tooltip',
                                        'data-placement' => 'top',
                                        :title => 'Supprimer de Little Market',
                                        'data-bind' => 'click: $data.delete'}
            Supprimer


  %button.btn.btn-success{:type => "button", 'data-toogle' => 'tooltip',
                          'data-placement' => 'top',
                          :title => 'En cliquant vous recréez vos créations sur Little Market',
                          'data-bind' => 'click: publishSelected'}
    Publier la sélection
  %button.btn.btn-danger{:type => "button", 'data-toogle' => 'tooltip',
                         'data-placement' => 'top',
                         :title => 'En cliquant vous supprimez vos créations de Little Market',
                         'data-bind' => 'click: deleteSelected'}
    Supprimer la sélection

