---
http_interactions:
- request:
    method: post
    uri: https://api-user.alittleincubart.com/fr/login-check
    body:
      encoding: US-ASCII
      string: login%5B%22username%22%5D=lucien.farstein%40gmail.com&login%5B%22password%22%5D=toto555500
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://api-user.alittleincubart.com/fr/login
      Allow:
      - POST
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8" /><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(n,t,e){function r(e){if(!t[e]){var o=t[e]={exports:{}};n[e][0].call(o.exports,function(t){var o=n[e][1][t];return r(o?o:t)},o,o.exports)}return t[e].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<e.length;o++)r(e[o]);return r}({QJf3ax:[function(n,t){function e(n){function t(t,e,a){n&&n(t,e,a),a||(a={});for(var u=c(t),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,e);return s}function a(n,t){f[n]=c[...]
